@model Tarefa

<h2 class="mt-5">Adicionar Tarefa</h2>

<form asp-action="Create" method="post" class="col-6">
    <div class="form-group">
        <label asp-for="Titulo" class="control-label"></label>
        <input asp-for="Titulo" class="form-control" required />
        <span asp-validation-for="Titulo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Descricao" class="control-label"></label>
        <input asp-for="Descricao" class="form-control " />
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>
    <div class="mt-3">
        <button type="submit" class="me-3 btn btn-primary">Adicionar</button>
        <a asp-action="Index" >Voltar</a>
    </div>
</form>
