@model Tarefa

<h2 class="mt-5">Editar Tarefa</h2>

<form asp-action="Edit" method="post" class="col-6">
    <input type="hidden" asp-for="ID" />
    <div class="form-group">
        <label asp-for="Titulo" class="control-label"></label>
        <input asp-for="Titulo" class="form-control" />
        <span asp-validation-for="Titulo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Descricao" class="control-label"></label>
        <input asp-for="Descricao" class="form-control" />
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Status" class="control-label"></label>
        <select asp-for="Status" class="form-control" />
            <option value="A fazer" selected>A fazer</option>
            <option value="Em andamento">Em andamento</option>
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary mt-3">Cancelar</a>
</form>
